<button (click)="displayAddPlayerForm()">Add New Player</button>

@if(showForm){
    <div>
    <h2>Add New Player</h2>
    <form (ngSubmit)="addNewPlayer()" enctype="multipart/form-data">
    <label for="playerName">Player Name:</label>
    <input type="text" id="playerName" name="playerName" [(ngModel)]="newPlayer.playerName" required>
    <br>

    <label for="playerPos">Player Position:</label>
    <input type="text" id="playerPos" name="playerPos" [(ngModel)]="newPlayer.playerPos" required>
    <br>

    <label for="playerNationality">Player Nationality</label>
    <input type="text" id="playerNationality" name="playerNationality" [(ngModel)]="newPlayer.playerNationality" required>
    <br>
    

    @if(showIncompleteFieldsError){
        <div>
          <h2>Enter Data in all the fields!</h2>
        </div>
    }

    <button type="submit">Submit</button>
    <button (click)="cancelForm()">Cancel</button>
  </form>
    </div>
    <br>
}
<table mat-table [dataSource]="clubPlayers" 
    class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="playerId">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let e">{{e.player.playerId}}</td>
    </ng-container>
    
    <!-- City name Column -->
    <ng-container matColumnDef="playerName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let e">{{e.player.playerName}}</td>
      </ng-container>

      <!-- Lat Column -->
    <ng-container matColumnDef="playerPos">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let e">{{e.player.playerPos}}</td>
      </ng-container>

      <!-- Long Column -->
    <ng-container matColumnDef="playerNationality">
        <th mat-header-cell *matHeaderCellDef>Nationality</th>
        <td mat-cell *matCellDef="let e">{{e.player.playerNationality}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
</table>