<h1>Players</h1>
<button (click)="displayAddPlayerForm()">Add New Player</button>

@if(showForm){
    <div>
    <h2>Add New Player</h2>
    <form (ngSubmit)="addNewPlayer()" enctype="multipart/form-data">
    <label for="playerName">Player Name:</label>
    <input type="text" id="playerName" name="playerName" [(ngModel)]="newPlayer.playerName" required>
    <br>

    <label for="playerPos">Player Position:</label>
    <input type="text" id="playerPos" name="playerPos" [(ngModel)]="newPlayer.playerPos" required>
    <br>

    <label for="playerNationality">Player Nationality</label>
    <input type="text" id="playerNationality" name="playerNationality" [(ngModel)]="newPlayer.playerNationality" required>
    <br>
    

    @if(showIncompleteFieldsError){
        <div>
          <h2>Enter Data in all the fields!</h2>
        </div>
    }

    <button type="submit">Submit</button>
    <button (click)="cancelForm()">Cancel</button>
  </form>
    </div>
    <br>
}
<table class="table table-striped">
    <thead>
        <tr> 
            <th>Id</th>
            <th>Name</th>
            <th>Position</th>
            <th>Nationality</th>
        </tr>
    </thead>
    <tbody>
        @for (player of players; track $index) {
            <tr>
                <td>
                    <a [routerLink] ="['/playerclubs', player.playerId]">
                        {{player.playerId}}
                    </a>
                </td>
                <td>{{player.playerName}}</td>
                <td>{{player.playerPos}}</td>
                <td>{{player.playerNationality}}</td>
            </tr>
        }
    </tbody>
</table>