<h1 id="tableLabel">Weather forecast</h1>
<p>You've been authenticated with the help of Firebase Authentication.</p>
<p>Feel free to explore Clubs and Players tab and make a new entry!</p>


<p>This component demonstrates fetching data from the server.</p>

@if (!forecasts) {
    <p><em>Loading...</em></p>
}

@else {
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @for (forecast of forecasts; track $index) {
                <tr>
                    <td>{{ forecast.date }}</td>
                    <td>{{ forecast.temperatureC }}</td>
                    <td>{{ forecast.temperatureF }}</td>
                    <td>{{ forecast.summary }}</td>
                </tr>
            }
        </tbody>
    </table>
}